@import "tailwindcss";

body {
  background-image: url(https://i.ibb.co/xt7bLS3t/bg.jpg.jpeg);
  background-size: 1080px 720px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}